@import "tailwindcss";
@source "../pages/template_test.html";
@source "../static/js";
@theme {
  --color-primarylight: #FFFFFF;
  --color-primarydark: #0F172A;
  --color-secondarylight: #a0a0b0;
  --color-secondarydark: #1E293B;

  --color-submitbutton: #64748B;
  --color-submitbutton-strong: #1E293B;
  --color-deletebutton: #CC1100;
  --color-deletebutton-strong: #BB0000;

  /* Default Font */
  --font-roboto: "Roboto", sans-serif;
  --font-sans: var(--font-roboto);  --color-tertiary: #6b6b70;

}


.accordian .active-icon {
  @apply hidden
}

.accordian.active .inactive-icon {
  @apply hidden
}

.accordian.active .active-icon {
  @apply block
}

.accordian:not(.active) .accordian-content {
  @apply max-h-0
}

.accordian.active .accordian-content {
  @apply max-h-96
}


.sub-accordian .sub-active-icon {
  @apply hidden
}

.sub-accordian.active .sub-inactive-icon {
  @apply hidden
}

.sub-accordian.active .sub-active-icon {
  @apply block
}

.sub-accordian:not(.active) .sub-accordian-content {
  @apply max-h-0
}

.sub-accordian.active .sub-accordian-content {
  @apply max-h-96
}

/*
 
  --color-primarylight: #d4d4d9;
  --color-primarydark: #1a1a1e;
  --color-secondarylight: #a0a0b0;
  --color-secondarydark: #3e3e41;

*/
