{{ define "layout" }}
<!DOCTYPE html>
<html lang="en" id="page">
<head>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
  <!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
  <script type="module" src="/static/js/app.js" defer></script>
  <link href="/static/css/main-tailwind.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
</head>
<body hx-boost="true" hx-target="#main" class="pt-16 bg-secondarydark">
  {{ template "header_bar" . }}
  <main id="main" class="flex justify-center font-sans">
    {{ renderTemplate .ContentTemplate . }}
  </main>
</body>
</html>
{{ end }}

<!-- Generic Elements -->

{{ define "error_section" }}
  <div id="error-section">
  {{ range .Errors }}<p style="color: red">{{ . }}</p>{{ end }}
  </div>
{{ end }}

<!-- Add Exercise Page -->

{{ define "addexercise_page" }}
  <div id="addexercise_div" class="text-primarylight p-5 w-7xl justify-center">
    <div class="flex justify-center">
      <h2 class="text-2xl font-bold mb-4">Add Exercise Page</h2>
    </div>
    <div id="addexercise-main-div" class="flex h-screen">
      {{ template "add_exercise_form" . }}
      {{ if .Exercises }}
        {{ template "add_exercise_list" . }}
      {{ else }}
        <p>No exercises found</p>
      {{ end }}
    </div>
  </div>
{{ end }}

<!--

      {
        "detailNames": [
          {{- range $i, $m := .Muscles -}}
            {{- if $i }},{{ end -}}
            {{ $m | js }}
          {{- end -}}
        ]
      }
-->

{{ define "add_exercise_form" }} 
  <div id="add_exercise_form_div" class="container bg-primarydark m-1 w-1/2 p-4">
    <div id="add_exercise_form_data_feature"  data-feature="add-exercise">
      <script type="application/json" id="addexercise-data">
        {
        "detailNames": {{ .MusclesJson }}
        }
      </script>
        <div class="flex justify-center">
          <h2 class="text-xl font-bold mb-4">Add Exercise</h2>
        </div>
      <form id="addexercise-form" hx-post="/htmx/exercises" hx-target="#addexercise_div" hx-swap="outerHTML"  method="POST">
        <!-- Exercise Name -->
        <div class="form-group">
            <label for="addexercise-exercisename" class="mr-2">Name:</label>
            <input class="border" type="text" id="addexercise-exercisename" name="exerciseName" required placeholder="Enter exercise name">
        </div>
        <br />
        <!-- Dynamic Inputs for Exercise Details (Dropdown Name and Value) -->
        <div id="addexercise-detail-collection" class="form-group">
          <p class="font-bold">Fractional Muscle Activation</p>
            <!-- The first exercise detail will be added dynamically by JavaScript -->
        </div>
        <!-- Add Button -->
        <button type="button" id="addexercise-add-input-button" class="add-btn">+ Add Detail</button>
        <br><br>
        <button type="submit" class="bg-submitbutton box-border border hover:bg-submitbutton-strong focus:ring-1 focus:ring-black shadow-xs font-medium leading-5 rounded-sm text-sm px-4 py-1 focus:outline-none">Submit</button>
      </form>
    </div>
  </div>
{{ end }}

{{ define "add_exercise_list" }}
  <div id="exercise-list" class="bg-primarydark m-1 w-1/2 p-4">
    <div class="flex justify-center">
      <h2 class="text-xl font-bold mb-4">Exercises</h2>
    </div>
    <div class="flex flex-col gap-1 bg-slate-800 rounded-lg overflow-hidden accordian-container">
    {{range .Exercises}}
      {{ template "exercise" . }}
    {{ end }}
    </div>
  </div>
{{ end }}

{{ define "exercise" }}
  <div id="exercise-list-item" class="accordian text-primarylight text-sm w-full flex justify-center flex-col transition-all duration-500" data-feature="accordian">
    <div class="accordian-header p-4 font-bold bg-slate-900 flex justify-between items-center cursor-pointer">
      <div>{{ .Name }}</div>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 active-icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inactive-icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
      </svg>
    </div>
    <div class="accordian-content transition-all duration-500 overflow-hidden">
      {{ range $index, $element := .MuscleFractions }}
      <div class="accordian-item p-4 {{if eq (mod $index 2) 0}}bg-slate-800{{else}}bg-slate-700{{end}} justify-between flex">
        <div>{{ $element.Name }}</div>
        <div>{{ (mult $element.Fraction 100) }}% muscle activation</div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}


  <!-- <div class="exercise-list-item"> -->
  <!--   <p>{{ .Name }}</p> -->
  <!--   <ul> -->
  <!--     {{ range .MuscleFractions }} -->
  <!--       <li>{{ .Name }}: {{ .Fraction }}</li> -->
  <!--     {{ end }} -->
  <!--   </ul> -->
  <!-- </div> -->


<!-- Error -->

{{ define "error_page" }}
    <script type="text/javascript">
      var canvas = document.createElement('canvas');
      var height = canvas.height = window.innerHeight;
      var width = canvas.width = window.innerWidth;
      var ctx = canvas.getContext('2d');
      document.body.appendChild(canvas);

      function random(min,max)
      {
          return Math.random()*(max-min+1)+min;
      }

      function range_map(value,in_min, in_max, out_min, out_max) {
        return (value - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;
      }

      var word_arr = [];
      var txt_min_size = 5;
      var txt_max_size = 25;
      var keypress = false;
      var acclerate = 2;
      for (var i = 0; i < 25; i++) {
        word_arr.push({
          x : random(0,width),
          y : random(0,height),
          text : '404',
          size : random(txt_min_size,txt_max_size)
        });

        word_arr.push({
          x : random(0,width),
          y : random(0,height),
          text : 'page',
          size : random(txt_min_size,txt_max_size)
        });


        word_arr.push({
          x : random(0,width),
          y : random(0,height),
          text : 'not found',
          size : random(txt_min_size,txt_max_size)
        });

        word_arr.push({
          x : random(0,width),
          y : random(0,height),
          text : '404',
          size : Math.floor(random(txt_min_size,txt_max_size))
        });
      }

      function render()
      {
        ctx.fillStyle = "rgba(0,0,0,1)";
        ctx.fillRect(0,0,width,height);

        ctx.fillStyle = "#fff";
        for (var i = 0; i < word_arr.length; i++) {
          ctx.font = word_arr[i].size+"px sans-serif";
          var w = ctx.measureText(word_arr[i].text);
          ctx.fillText(word_arr[i].text,word_arr[i].x,word_arr[i].y);

          if(keypress)
          {
            word_arr[i].x += range_map(word_arr[i].size,txt_min_size,txt_max_size,2,4) * acclerate;
          }
          else {
            word_arr[i].x += range_map(word_arr[i].size,txt_min_size,txt_max_size,2,3);
          }

          if(word_arr[i].x >= width)
          {
            word_arr[i].x = -w.width*2;
            word_arr[i].y = random(0,height);
            word_arr[i].size =  Math.floor(random(txt_min_size,txt_max_size));

          }
        }

        ctx.fill();

        requestAnimationFrame(render);
      }

      render();

      window.addEventListener('keydown',function(){
        keypress = true;
      },true);
      window.addEventListener('keyup',function(){
        keypress = false;
      },true);
    </script>
{{ end }}


{{ define "header_bar" }}
  <nav class="bg-primarydark fixed w-full z-20 top-0 start-0 border-b border-default">
    <div id="header-bar" class="max-w-screen-xl flex flex-wrap items-center justify-between p-4">
      <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="/static/img/logo.svg" class="h-7" alt="Demo Logo" />
      </a>
      <div class="ml-auto md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary">
          <li>
          <a href="/addworkout" class="block py-2 px-3 text-primarylight hover:text-blue-400 transition-colors duration-200 bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0">Workout</a>
          </li>
          <li>
          <a href="/addexercise" class="block py-2 px-3 text-primarylight hover:text-blue-400 transition-colors duration-200bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0">Exercise</a>
          </li>
          <li>
          <a href="/graph" class="block py-2 px-3 text-primarylight hover:text-blue-400 transition-colors duration-200bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0">Graph</a>
          </li>
          <li>
          <a href="/workoutsummary" class="block py-2 px-3 text-primarylight hover:text-blue-400 transition-colors duration-200bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0">Workout Summary</a>
          </li>
          <li>
          <a href="/workoutplans" class="block py-2 px-3 text-primarylight hover:text-blue-400 transition-colors duration-200bg-brand rounded md:bg-transparent md:text-fg-brand md:p-0">Workout Plans</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{{ end }}

{{ define "addworkout_page" }}
  <div id="addworkout_div" class="bg-primarydark text-primarylight p-5 w-7xl">
    {{ template "add_workout_select_type" . }} 
  </div>
{{ end }}


{{ define "add_workout_select_type" }}
  <div id="add_workout_form_div" class="container">
    <div class="flex justify-center">
      <h2 class="text-2xl font-bold mb-4">Add Workout Page</h2>
    </div>
    <form id="add-workout-type-form" hx-swap="innerHTML" hx-get="/htmx/addworkout/selecttype" hx-target="#add_workout_form_div" >
        <label for="add-workout-type-select">Select a workout format :</label>
        <select name="type" id="add-workout-type-select" class="border rounded-sm bg-secondarydark">
          <option value="WorkoutPlan" {{ if eq .WorkoutInstanceType "PlanWorkout"}}selected="selected"{{ end }}>Planned Workout</option>
          <option value="LiveWorkoutPlan" {{ if eq .WorkoutInstanceType "LivePlanWorkout"}}selected="selected"{{ end }}>Live Planned Workout</option>
          <option value="Custom" {{ if eq .WorkoutInstanceType "Custom"}}selected="selected"{{ end }}>Custom Workout</option>
        </select>
        <br/><br/>
      <button type="submit" class="bg-submitbutton box-border border hover:bg-submitbutton-strong focus:ring-1 focus:ring-black shadow-xs font-medium leading-5 rounded-sm text-sm px-4 py-1 focus:outline-none">Submit</button>
    </form>
{{ end }}

{{ define "add_workout_form"}}
  {{ if eq .WorkoutInstanceType "Custom" }}
    {{ template "add_workout_custom_form" . }}
  {{ else if eq .WorkoutInstanceType "WorkoutPlan" }}
    {{ template "add_workout_planned" . }}
  {{ else if eq .WorkoutInstanceType "LiveWorkoutPlan" }}
    {{ template "add_workout_live_planned_select" . }}
  {{ end }}
  </div>
{{ end }}

{{ define "add_workout_live_planned_select" }}
    <a href="/addworkout" class="underline">Back</a>
    <br>
    <br>
    {{ if .WorkoutPlans }}
      <select  name="plan" id="add-workout-plan-select" class="border rounded-sm bg-secondarydark">
      {{ range .WorkoutPlans }}
        <option value="{{ .Name }}">{{ .Name }}</option>
      {{ end }}
      </select>
      <button hx-get="/liveworkout" hx-include="#add-workout-plan-select" type="submit" class="bg-submitbutton box-border border hover:bg-submitbutton-strong focus:ring-1 focus:ring-black shadow-xs font-medium leading-5 rounded-sm text-sm px-4 py-1 focus:outline-none">Start Workout</button>
    </form>
    {{ else }}
      <p>No Planned Workouts</p>
    {{ end }}
{{ end }}


{{ define "add_workout_live_planned_select" }}
  <div>
    {{ range (index .WorkoutPlans 0).Sets }}
    <a>test</a>
    {{ end }}
  </div>
{{ end }}

{{ define "add_workout_planned" }}
    <a href="/addworkout" class="underline">Back</a>
    <br>
    <br>
    {{ if .WorkoutPlans }}
      <select hx-trigger="change" hx-target="#add_workout_planned_form" hx-swap="outerHTML" hx-get="/htmx/addworkout/selectplan" name="plan" id="add-workout-plan-select" hx-include="#add-workout-type-select" class="border rounded-sm bg-secondarydark">
      {{ range .WorkoutPlans }}
        <option value="{{ .Name }}">{{ .Name }}</option>
      {{ end }}
      </select>
      {{ template "add_workout_planned_form" . }}    
    {{ else }}
      <p>No Planned Workouts</p>
    {{ end }}
{{ end }}

{{ define "add_workout_planned_form"}}
<div id="add_workout_planned_form">
      <div id="add_workout_form_data_feature" data-feature="add-workout-planned">
        <form id="workoutForm" hx-post="/htmx/workouts" hx-target="#add_workout_form_div" hx-swap="outerHTML" method="POST" hx-include="#add-workout-type-select, #add-workout-plan-select">
            <!-- Dynamic Inputs for Exercise Details (Dropdown Name and Value) -->
            <br />
            <input type="hidden" value="WorkoutPlan" name="type"/>
            <div id="workoutDetails" class="form-group">
                <div class="flex gap-40 justify-between mx-15">
                  <div class="w-64 flex flex-col">
                    <div class="flex justify-center">
                      <label for="addworkout-start-time">Workout Start Time</label>
                    </div>
                    <input class="border rounded-sm" type="datetime-local" min="2026-01-01T00:00" value="2026-01-01T00:00" name="workout-start-time" id="addworkout-start-time"/> 
                  </div>
                  <div class="w-64 flex flex-col">
                    <div class="justify-center flex">
                      <label for="addworkout-end-time">Workout End Time</label>
                    </div>
                      <input class="border rounded-sm" type="datetime-local" min="2026-01-01T00:00" value="2026-01-01T00:00" name="workout-end-time" id="addworkout-end-time"/> 
                  </div>
                </div>
                <br />
                <br />
                <h3>Exercises</h3>
                <div id="addworkout-detail-collection">
                  {{ range (index .WorkoutPlans 0).Sets }}
                  <b>{{ .ExerciseName}}</b>
                  <div>
                    <input type="hidden" name="exerciseName" id="exerciseName" value="{{ .ExerciseName }}" />
                    <label for="startTime">Start Time</label>
                    <input type="time" value="00:00" name="startTime" id="startTime" required/>
                    <label for="weightAmount">Weight</label>
                    <input name="weightAmount" id="weightAmount" type="number" value="1" min="1" max="999" step="0.5" required />
                    <label for="repAmount">Reps ({{ .RepLowerRange }} - {{ .RepUpperRange }})</label>
                    <input name="repAmount" id="repAmount" type="number" value="{{ .RepLowerRange }}" min="1" max="999" step="1" required />
                    <label for="partialRepAmount" >Partial Reps</label>
                    <input id="partialRepAmount" name="partialRepAmount" type="number" value="0" min="0" max="999" step="1" />
                  </div>
                {{ end }}
                </div>
                <!-- The first exercise detail will be added dynamically by JavaScript -->
            </div>
            <!-- Add Button -->
            <br><br>
            <button type="submit" class="bg-submitbutton box-border border hover:bg-submitbutton-strong focus:ring-1 focus:ring-black shadow-xs font-medium leading-5 rounded-sm text-sm px-4 py-1 focus:outline-none">Submit</button>
        </form>
      </div>
    </div>
{{ end }}

{{ define "add_workout_custom_form" }}
<a href="/addworkout" class="underline">Back</a>
<br>
<br>
<div id="add_workout_custom_form" />
  <div id="add_workout_form_data_feature" data-feature="add-workout-custom">
    <script type="application/json" id="addworkout-data">
      {
        "detailNames": {{.ExercisesJson}}
      }
    </script>
    <form id="workoutForm" hx-post="/htmx/workouts" hx-target="#add_workout_form_div" hx-swap="outerHTML" method="POST" hx-include="#add-workout-type-select, #add-workout-plan-select">
        <!-- Dynamic Inputs for Exercise Details (Dropdown Name and Value) -->
        <input type="hidden" value="Custom" name="type" />
        <div id="workoutDetails" class="form-group">
            <br />
                <div class="flex gap-40 justify-between mx-15">
                  <div class="w-64 flex flex-col">
                    <div class="flex justify-center">
                      <label for="addworkout-start-time">Workout Start Time</label>
                    </div>
                    <input class="border rounded-sm" type="datetime-local" min="2026-01-01T00:00" value="2026-01-01T00:00" name="workout-start-time" id="addworkout-start-time"/> 
                  </div>
                  <div class="w-64 flex flex-col">
                    <div class="justify-center flex">
                      <label for="addworkout-end-time">Workout End Time</label>
                    </div>
                      <input class="border rounded-sm" type="datetime-local" min="2026-01-01T00:00" value="2026-01-01T00:00" name="workout-end-time" id="addworkout-end-time"/> 
                  </div>
                </div>
            <br />
            <br />
            <h3>Exercises</h3>
            <div id="addworkout-detail-collection">
              
            </div>
            <!-- The first exercise detail will be added dynamically by JavaScript -->
        </div>
        <!-- Add Button -->
        <button type="button" id="addworkout-add-input-button" class="add-btn">+ Add Set</button>
        <br><br>
        <button type="submit" class="bg-submitbutton box-border border hover:bg-submitbutton-strong focus:ring-1 focus:ring-black shadow-xs font-medium leading-5 rounded-sm text-sm px-4 py-1 focus:outline-none">Submit</button>
    </form>
  </div>
</div>
{{ end }}

{{ define "graph_page" }}
  <div id="graph-div" class="text-primarylight p-5 w-7xl justify-center" >
    <div class="flex justify-center">
      <h2 class="text-2xl font-bold mb-4">Graphs</h2>
    </div>
    {{ template "graph_chart" .}}
    {{ template "graph_dataset" . }}
  </div>
{{ end }}
<!--

  <div "graph_page_div" >
    {{ template "graph_dataset_list" . }}
    <p>test</p>
    <select name="exercise-name">
      <option value="test1">test1</option>
      <option value="test2">test2</option>
    </select>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="chart-container">
      <canvas id="chart"></canvas>
    </div>
    <script>
      let chart = document.getElementById('chart').getContext('2d');
      let chartData = new Chart(chart, {
        type:'line',
        data:{
          labels:[{{ range .ChartXLabels }}'{{ . }}', {{ end }}],
          datasets:[
            {{ range .ChartDataSets }}
            {
              label:{{ .Label }},
              data:[{{ range .Points }}{{ .Data }},{{ end }}],
              pointBackgroundColor: '#FF0000',
            },
            {{ end }}
            ],
        },
        options: {},
      });
    </script>
  </div>
-->
  <!--<script>
    let chart = document.getElementById('chart').getContext('2d');
    let chartData = new Chart(chart, {
      type:'line',
      data:{
        labels:['testlabel1', 'testlabel2'],
        datasets:[{
          label:'testdatasetlabel',
          data:[1,2,3]
        },
        {
          label:'testdatasetlabel2',
          data:[4,5,6]
        }],
      },
      options: {},
    });
  </script>
  -->

{{ define "graph_dataset" }}
  <div id="graph_dataset_list" class="bg-primarydark m-1 flex flex-col">
    <div class="flex justify-center">
      <h3>Select Graph Parameters</h3>
    </div>
    <div class="flex justify-center">
      {{ template "graph_dataset_info" .}}
      <form id="add_new_dataset" hx-get="/htmx/graphs" hx-target="#graph_chart_div" hx-swap="outerHTML">
        <select name="graph-dataset-calctype-select" hx-get="/htmx/graph_calctype_option" hx-trigger="change" hx-target="#graph-dataset-calctype-option-select" hx-swap="outerHTML" class="mr-4 rounded-sm border bg-secondarydark">
          {{ range .CalcTypes }}
          <option>{{ . }}</option>
          {{ end }}
        </select>
        {{ template "graph_dataset_calctype_option" .GraphDatasetOptions }}
        <button type="submit" class="bg-submitbutton box-border border hover:bg-submitbutton-strong focus:ring-1 focus:ring-black shadow-xs font-medium leading-5 rounded-sm text-sm px-4 py-1 focus:outline-none">Submit</button>
      </form>
    </div>
  </div>
{{ end }}

{{ define "graph_dataset_calctype_option" }}
    <select name="graph-dataset-calctype-option-select" id="graph-dataset-calctype-option-select" class="mr-4 rounded-sm border bg-secondarydark">
      {{ range . }}
        <option value="{{.}}">{{.}}</option>
      {{ end }}
    </select>
{{ end }}

{{ define "graph_dataset_info" }}
  <div id="graph-dataset-info" hx-swap-oob="true">
    {{ range .ChartDataSets }}
    <div id="dataset_list_item">
      <input type="hidden" name="CalcType" value="{{.CalcType}}">
      <input type="hidden" name="Label" value="{{.Label}}">
    </div>
    {{ end }}
  </div>
{{ end }}

{{ define "graph_dataset_title" }}
  <div id="graph-dataset-info">
    {{ range .ChartDataSets }}
    <div id="dataset_list_item">
      <p>
      {{.CalcType}}: {{ .Label }}
      <!-- <button type="button" hx-delete="/htmx/graphs" hx-include="#graph_dataset_list_div div:not(#dataset_list_item_{{.CalcType}}_{{.Label}})">Remove</button> -->
      </p>
    </div>
    {{ end }}
  </div>
{{ end }}


{{ define "graph_chart" }}
  <div id="graph_chart_div" class="bg-primarydark m-1 p-4">
    <div class="flex justify-center">
      <div class="text-xl mb-4">
      {{ template "graph_dataset_title" .}}
      </div>
    </div>
    <div id="graph-chart-data-feature" data-feature="graph-chart">
      <script type="application/json" id="graph-chart-json-data">
          {{ .ChartDataSetsJson }}  
      </script>
      <div class="graph-chart-canvas-container">
        <canvas id="graph-chart-canvas"></canvas>
      </div>
    </div>
  </div>
{{ end }}

<!--

<script>
      let chart = document.getElementById('chart').getContext('2d');
      let chartData = new Chart(chart, {
        type:'line',
        data:{
          labels:[{{ range .ChartXLabels }}'{{ . }}', {{ end }}],
          datasets:[
            {{ range .ChartDataSets }}
            {
              label:{{ .Label }},
              data:[{{ range .Points }}{{ .Data }},{{ end }}],
              pointBackgroundColor: '#FF0000',
            },
            {{ end }}
            ],
        },
        options: {
          interaction: {
            intersect: false,
            mode: 'index', // or 'nearest', 'x'
          },
        },
      });
    </script>
-->



{{ define "workoutsummary_page" }}
  <div id="workoutsummary-page-div">
    <div class="accordian-container">
      {{ range .WorkoutSummary }}
        <div class="w-7xl justify-center">
        {{ template "workoutsummary_item" . }}
        </div>
      {{ end }}
    </div>
  </div> 
{{ end }}

{{ define "workoutsummary_item" }}
  <div id="workout-summary-item" class="accordian sub-accordian-container text-primarylight text-sm w-full flex justify-center flex-col transition-all duration-500" data-feature="accordian">
    <div class="accordian-header p-4 font-bold bg-slate-900 flex justify-between items-center cursor-pointer">
      <div>{{ .StartTime }}</div>
      <div>{{ .WorkoutPlan }}</div>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 active-icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inactive-icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
      </svg>
    </div>
    <div class="accordian-content transition-all duration-500 overflow-hidden">
      <div class="accordian-item p-4 bg-violet-400 justify-between flex">
        <div>Duration:</div>
        <div>{{ .Duration }}</div>
      </div>
      <div class="accordian-item">
        <div id="workout-summary-sub-item" class="sub-accordian text-primarylight text-sm w-full flex justify-center flex-col transition-all duration-500" data-feature="sub-accordian">
          <div class="sub-accordian-header p-4 font-bold bg-green-400 flex justify-between items-center cursor-pointer">
            <div>
              Muscle Volume
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 sub-active-icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 sub-inactive-icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
          </div>
          <div class="sub-accordian-content transition-all duration-500 overflow-hidden">
            {{ range $index, $element := .MuscleVolume }}
            <div class="sub-accordian-item p-4 {{if eq (mod $index 2) 0}}bg-slate-800{{else}}bg-slate-700{{end}} justify-between flex">
              <div>{{ $element.Label }}</div>
              <div>{{ $element.Data }}</div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="accordian-item">
        <div id="workout-summary-sub-item" class="sub-accordian text-primarylight text-sm w-full flex justify-center flex-col transition-all duration-500" data-feature="sub-accordian">
          <div class="sub-accordian-header p-4 font-bold bg-indigo-500 flex justify-between items-center cursor-pointer">
            <div>
              Exercise Volume
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 sub-active-icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 sub-inactive-icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
          </div>
          <div class="sub-accordian-content transition-all duration-500 overflow-hidden">
            {{ range $index, $element := .ExerciseVolume }}
            <div class="sub-accordian-item p-4 {{if eq (mod $index 2) 0}}bg-slate-800{{else}}bg-slate-700{{end}} justify-between flex">
              <div>{{ $element.Label }}</div>
              <div>{{ $element.Data }}</div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="accordian-item">
        <div id="workout-summary-sub-item" class="sub-accordian text-primarylight text-sm w-full flex justify-center flex-col transition-all duration-500" data-feature="sub-accordian">
          <div class="sub-accordian-header p-4 font-bold bg-red-600 flex justify-between items-center cursor-pointer">
            <div>
              Sets
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 sub-active-icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 sub-inactive-icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
          </div>
          <div class="sub-accordian-content transition-all duration-500 overflow-hidden">
            {{ range $index, $element := .Sets }}
            <div class="sub-accordian-item p-4 {{if eq (mod $index 2) 0}}bg-slate-800{{else}}bg-slate-700{{end}} justify-between flex">
              <div>{{ $element.ExerciseName }}</div>
              <div>Weight: {{ $element.Weight }}</div>
              <div>Reps: {{ $element.Reps }}</div>
              <div>Partial Reps: {{ $element.PartialReps }}</div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}


{{ define "workoutsummary_sub_item" }}
  <div id="workout-summary-sub-item" class="sub-accordian text-primarylight text-sm w-full flex justify-center flex-col transition-all duration-500" data-feature="sub-accordian">
    <div class="sub-accordian-header p-4 font-bold bg-slate-900 flex justify-between items-center cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 sub-active-icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 sub-inactive-icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
      </svg>
    </div>
    <div class="sub-accordian-content transition-all duration-500 overflow-hidden">
      {{ range $index, $element := . }}
      <div class="sub-accordian-item p-4 {{if eq (mod $index 2) 0}}bg-slate-800{{else}}bg-slate-700{{end}} justify-between flex">
        <div>{{ $element.Label }}</div>
        <div>{{ $element.Data }}</div>
      </div>
      {{ end }}
    </div>
  </div>
{{ end }}



{{ define "workoutplans_page" }}
  <div id="workoutplans-page-div" class="text-primarylight p-5 w-7xl justify-center">
    <div class="flex justify-center">
      <h2 class="text-2xl font-bold mb-4">Add Workout Page</h2>
    </div>
    <div id="addexercise-main-div" class="">
      {{ template "add_workoutplan_form" . }}
      {{ if .Exercises }}
        {{ template "add_workoutplan_list" . }}
      {{ else }}
        <p>No exercises found</p>
      {{ end }}
    </div>
  </div>
{{ end }}

<!--

      {
        "detailNames": [
          {{- range $i, $m := .Muscles -}}
            {{- if $i }},{{ end -}}
            {{ $m | js }}
          {{- end -}}
        ]
      }
-->

{{ define "add_workoutplan_form" }} 
  <div id="add_exercise_form_div" class="container bg-primarydark m-1 p-4 mb-4">
    <div id="workoutplan-add-datafeature"  data-feature="add-workoutplan">
      <script type="application/json" id="addworkoutplan-data">
        {
        "detailNames": {{ .ExercisesJson }}
        }
      </script>
        <div class="flex justify-center">
          <h2 class="text-xl font-bold mb-4">Add Workout Plan</h2>
        </div>
      <form id="workoutplan-new-form" hx-post="/htmx/workoutplans" hx-target="#workoutplans-page-div" hx-swap="outerHTML" method="POST">
        <!-- Dynamic Inputs for Exercise Details (Dropdown Name and Value) -->
        <label for="workoutplan-new-name" class="mr-2">Name:</label>
        <input class="border" type="text" id="workoutplan-new-name" name="newWorkoutPlanName" required placeholder="Enter name">
        <br />
        <div id="workoutplans-new-form-set-collection" class="gap-8 mt-4 justify-between">
        </div>  
            <!-- The first exercise detail will be added dynamically by JavaScript -->
        <!-- Add Button -->
        <button type="button" id="workoutplans-new-form-input-button" class="add-btn">+ Add Set</button>
        <br><br>
        <button type="submit" class="bg-submitbutton box-border border hover:bg-submitbutton-strong focus:ring-1 focus:ring-black shadow-xs font-medium leading-5 rounded-sm text-sm px-4 py-1 focus:outline-none">Submit</button>
      </form>
    </div>
  </div>
{{ end }}

{{ define "add_workoutplan_list" }}
  <div id="exercise-list" class="bg-primarydark m-1 p-4">
    <div class="flex justify-center">
      <h2 class="text-xl font-bold mb-4">Exercises</h2>
    </div>
    <div class="flex flex-col gap-1 bg-slate-800 rounded-lg overflow-hidden accordian-container">
    {{ range .WorkoutPlans }}
      {{ template "workoutplan_item" . }}
    {{ end }}
    </div>
  </div>
{{ end }}

{{ define "workoutplan_item" }}
  <div id="exercise-list-item" class="accordian text-primarylight text-sm w-full flex justify-center flex-col transition-all duration-500" data-feature="accordian">
    <div class="accordian-header p-4 font-bold bg-slate-900 flex justify-between items-center cursor-pointer">
      <div>{{ .Name }}</div>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 active-icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inactive-icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
      </svg>
    </div>
    <div class="accordian-content transition-all duration-500 overflow-hidden">
      {{ range $index, $element := .SetCollections }}
      <div class="accordian-item p-4 {{if eq (mod $index 2) 0}}bg-slate-800{{else}}bg-slate-700{{end}} justify-between flex">
        {{ if eq .Format  "ConstantRepsAndConstantSets" }}
        <p>Do <b>{{ .ExerciseName }}</b> for <b>{{(index .RepRange 0).Lower}} - {{(index .RepRange 0).Upper}}</b> reps with <b>{{index .RIRs 0}}</b> RIR for <b>{{ .NumberOfSets }}</b> sets</p>
        {{ else if eq .Format "ConstantReps" }}
        <p>Do <b>{{ .ExerciseName }}</b> for <b>{{(index .RepRange 0).Lower}} - {{(index .RepRange 0).Upper}}</b> reps with {{ range $i, $e := .RIRs }}{{ if $i }}, {{ end }}<b>{{ $e }}</b>{{ end }} RIR</p>
        {{ else if eq .Format  "ConstantWeight" }}
        <p>Do <b>{{ .ExerciseName }}</b> for {{ range $i, $e := .RepRange }}{{ if $i}}, {{end}}<b>{{ $e.Lower }} - {{ $e.Upper }}</b>{{ end }} with <b>{{ index .RIRs 0 }}</b> RIR</p>
        {{ else if eq .Format  "NeitherConstant" }}
        <p>Do <b>{{ .ExerciseName }}</b> for {{ range $i, $e := .RepRange }}{{if $i}}, {{ end }}<b>{{ $e.Lower }} - {{ $e.Upper }}</b>{{ end }} with {{range $i, $e := .RIRs }}{{if $i}}, {{ end }}<b>{{ $e }}</b>{{ end }} RIR</p>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
{{ end }}
